.App {
  text-align: center;
}

a[aria-current="page"] {
  background-color: #3e4049 !important;
  color: white;
  border-left: 4px solid white;
}

.container {
  padding-top: 40px;
  padding-left: 12vw;
  padding-right: 12vw;
}

.responsiveContainer {
  padding-top: 40px;
  padding-left: 4vw;
  padding-right: 4vw;
}

.title {
  font-weight: bold !important;
  margin-bottom: 20px !important;
}

.subtitle {
  font-weight: bold !important;
}

.menu-icon {
  color: white;
  height: 34px !important;
  width: auto !important;
}

.grow {
  flex-grow: 1;
}